* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: underline !important;
}

/* color */

:root {
    --primary-color: #c0392b;
    --secondary-color: #30336b;
    --text-color-darker: #30336b;
    --text-color-lightest: #ecf0f1;
    --text-color-dark: #2e2e2e;
    --text-color-gray: #8b8b8b;
    --text-color-dark-gray: #727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.2);
    --background-color-dark: #F9F9F9;
}

/* header */

header {
    width: 100%;
    height: 80px;
    display: grid;
    padding: 0 40px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    z-index: 200;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-lightest);
}

header nav {
    justify-self: end;
}

header nav i {
    color: var(--text-color-lightest);
}

header nav a {
    color: var(--text-color-lightest);
    margin: 0 24px;
}

header .burger {
    display: none;
}

/* glide */

.glide {
    position: relative;
    z-index: 50;
    top: -80px;
}

.glide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glide__slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.slide-caption {
    position: absolute;
    z-index: 70;
    color: var(--text-color-lightest);
    text-align: center;
    max-width: 60vw;
}

.slide-caption > * {
    opacity: 0;
}

.slide-caption.left {
    max-width: 80vw;
    text-align: left;
}

.slide-caption h1 {
    font-size: 56px;
    font-weight: 600;
}

.slide-caption h3 {
    font-size: 24px;
    margin: 24px 0;
}

.backdrop {
    background: var(--backdrop-color);
    z-index: 60;
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 50%;
}

.explore-btn {
    padding: 14px 32px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 8px;
    color: var(--text-color-lightest);
    font-size: 18px;
    cursor: pointer;
    outline: none;
}


.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 64px 0; */
    position: relative;
    top: -80px;
    /* background-color: var(--background-color-dark); */
}

section {
    display: grid;
    justify-items: center;
    /* max-width: 1180px; */
    width: 100%;
    padding: 60px 80px 120px 80px;
    /* margin: 20px 0 120px 0; */
}

/* about me */
.about-me {
    width: 100%;
    background-color: var(--background-color-dark);
}

.introduction {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 20px;
    max-width: 960px;
}

.avatar {
    flex: 1;
    height: 400px;
}

.avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 4px 4px 4px #c6c6c6;
}

.personal-intro {
    flex: 1;
    padding: 24px 8px 12px 36px;
}

.personal-intro .intro-title {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color-dark);
}

.personal-intro .intro-content {
    color: var(--text-color-dark-gray);
    margin-top: 8px;
    font-size: 16px;
    
}

.personal-intro .github {
    margin-top: 32px;
}

.github a {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.social-icons {
    display: flex;
    max-width: 400px;
    margin-top: 20px;
    /* height: 36px; */
    justify-content: flex-start;
}

.social-icons a i {
    font-size: 20px;
    color: var(--primary-color);
    width: 40px;
}

/* works */

.content-title {
    font-size: 32px;
    color: var(--text-color-dark);

}

.content-title::after {
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background-color: var(--primary-color);
    margin-top: 6px;
    transform: translateX(10%);
}

.intro {
    margin: 16px 0 48px 0;
    font-size: 16px;
    color: var(--text-color-dark-gray);
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 144px 144px;
    column-gap: 6px;
}

.features .feature {
    padding: 18px 0;
    margin: 24px 36px;
    border-radius: 16px;
    display: grid;
    grid-template-areas: "icon title" "icon content";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;
}

.feature i.fas {
    grid-area: icon;
    font-size: 32px;
    color: var(--primary-color);
}

.feature-title {
    grid-area: title;
    font-size: 18px;
    color: var(--text-color-dark);
}

.feature-content {
    grid-area: content;
    color: var(--text-color-dark-gray);
    margin-top: 8px;
}