* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  width: 100%;
}

:root {
  --primary-color: #c0392b;
  --secondary-color: #30336b;
  --text-color-darker: #30336b;
  --text-color-lightest: #ecf0f1;
  --text-color-dark: #2e2e2e;
  --text-color-gray: #8b8b8b;
  --text-color-dark-gray: #727272;
  --text-color-light-gray: #c6c6c6;
  --backdrop-color: rgba(42, 42, 42, 0.2);
}

header {
  width: 100%;
  height: 80px;
  display: grid;
  padding: 0 40px;

  grid-template-columns: 1fr 2fr;
  align-items: center;
  /* align-content: center; */
  position: relative;
  z-index: 200;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-lightest);
}

header nav {
    justify-self: end;
}

header nav i {
    color: var(--text-color-lightest);
}

header nav a {
    color: var(--text-color-lightest);
    margin: 0 24px;
}

header .burger {
    display: none;
}

.glide {
    position: relative;
    z-index: 50;
    top: -80px;
}

.glide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glide__slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.slide-caption {
    position: absolute;
    z-index: 70;
    color: var(--text-color-lightest);
    text-align: center;
    max-width: 60vw;
}

.slide-caption.left {
    max-width: 80vw;
    text-align: left;
}

.slide-caption h1 {
    font-size: 56px;
    font-weight: 600;
}

.slide-caption h3 {
    font-size: 24px;
    margin: 24px 0;
}

.backdrop {
    background: var(--backdrop-color);
    z-index: 60;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.explore-btn {
    padding: 14px 32px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 8px;
    color: var(--text-color-lightest);
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
