* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: underline !important;
}

/* color */

:root {
    --primary-color: #c0392b;
    --secondary-color: #30336b;
    --text-color-darker: #30336b;
    --text-color-lightest: #ecf0f1;
    --text-color-dark: #2e2e2e;
    --text-color-gray: #8b8b8b;
    --text-color-dark-gray: #727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.2);
    --background-color-dark: #F9F9F9;
}

/* header */

header {
    width: 100%;
    height: 80px;
    display: grid;
    padding: 0 40px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    z-index: 200;
}

header.sticky {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    animation: dropDown 0.5s ease-in-out forwards;
}

header.sticky .logo, header.sticky nav a, header.sticky nav i {
    color: var(--text-color-dark)
}

@keyframes dropDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-lightest);
}

header nav {
    justify-self: end;
}

header nav i {
    color: var(--text-color-lightest);
}

header nav a {
    color: var(--text-color-lightest);
    margin: 0 24px;
}

header .burger {
    display: none;
}

/* glide */

.glide {
    position: relative;
    z-index: 50;
    top: -80px;
}

.glide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glide__slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.slide-caption {
    position: absolute;
    z-index: 70;
    color: var(--text-color-lightest);
    text-align: center;
    max-width: 60vw;
}

.slide-caption>* {
    opacity: 0;
}

.slide-caption.left {
    max-width: 80vw;
    text-align: left;
}

.slide-caption h1 {
    font-size: 56px;
    font-weight: 600;
}

.slide-caption h3 {
    font-size: 24px;
    margin: 24px 0;
}

.backdrop {
    background: var(--backdrop-color);
    z-index: 60;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 50%;
}

.explore-btn {
    padding: 14px 32px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 8px;
    color: var(--text-color-lightest);
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 64px 0; */
    position: relative;
    top: -80px;
    /* background-color: var(--background-color-dark); */
}

section {
    display: grid;
    justify-items: center;
    /* max-width: 1180px; */
    width: 100%;
    padding: 100px 80px 120px 80px;
    /* margin: 20px 0 120px 0; */
}

/* about me */

.about-me {
    width: 100%;
    background-color: var(--background-color-dark);
}

.introduction {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 20px;
    max-width: 960px;
}

.avatar {
    flex: 1;
    height: 400px;
}

.avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #c6c6c6;
}

.personal-intro {
    flex: 1;
    padding: 24px 8px 12px 36px;
}

.personal-intro .intro-title {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color-dark);
}

.personal-intro .intro-content {
    color: var(--text-color-dark-gray);
    margin-top: 8px;
    font-size: 16px;
}

.personal-intro .github {
    margin-top: 32px;
}

.github a {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.social-icons {
    display: flex;
    max-width: 400px;
    margin-top: 20px;
    /* height: 36px; */
    justify-content: flex-start;
}

.social-icons a i {
    font-size: 20px;
    color: var(--primary-color);
    width: 40px;
}

/* works */

.content-title {
    font-size: 32px;
    color: var(--text-color-dark);
}

.content-title::after {
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background-color: var(--primary-color);
    margin-top: 6px;
    transform: translateX(10%);
}

.intro {
    margin: 16px 0 48px 0;
    font-size: 16px;
    color: var(--text-color-dark-gray);
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    column-gap: 6px;
}

.features .feature {
    padding: 18px 0;
    margin: 24px 36px;
    border-radius: 16px;
    display: grid;
    grid-template-areas: "icon title" "icon content";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;
}

.feature i.fas {
    grid-area: icon;
    font-size: 32px;
    color: var(--primary-color);
}

.feature-title {
    grid-area: title;
    font-size: 18px;
    color: var(--text-color-dark);
}

.feature-content {
    grid-area: content;
    color: var(--text-color-dark-gray);
    margin-top: 8px;
}

/* data */

.data-section {
    width: 100%;
    height: 400px;
    background-image: url('./images/8U9A0290.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 220px));
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

.data-section::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--backdrop-color);
    width: 100%;
    height: 100%;
    z-index: 80;
    
}

.data-piece {
    width: 250px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    color: var(--text-color-lightest);
    position: relative;
    z-index: 100;
}

.data-piece i.fa {
    font-size: 44px;
}

.data-piece .num {
    margin-top: 8px;
    font-size: 40px;
    font-weight: 600;
}

.data-piece .data-desc {
    font-size: 18px;
    font-weight: 500;
}

/* cv btn */
.cv-btn {
    width: 100%;
    height: 360px;
    background-image: url('./images/8U9A0330.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateY(80px); */
    position: relative;
    z-index: 20;
}

.cv-btn::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--backdrop-color);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 80;
}

.cv-btn button {
    width: 20%;
    height: 50px;
    color:  rgb(232, 232, 232);
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border: rgb(252, 251, 245) 2px solid;
    padding: 8px, 18px;
    position: relative;
    z-index: 100;
    cursor: pointer;
    transition: all .5s;
    margin: 0 8px;
}

.cv-btn button a {
    text-decoration: none !important;
    color: white;
}

.cv-btn button:hover {
    background-color: var(--primary-color);
}

.cv-btn button:active {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(192,57,43,1) 25%, rgba(192,57,43,1) 75%, rgba(0,0,0,0) 100%);
}



/* skills */
.skills-experience {
    position: relative;
    background-color: var(--background-color-dark);
}

.skills-experience .skills-experience-content {
    max-width: 1180px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.skills-content h2 {
    margin-bottom: 26px;
}

.experience-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 600px;
    height: 620px;
}

.experience-content h2 {
    align-self: center;
    margin-bottom: 10%;
}

.experience-content ul li {
    transform: translateX(10%);
    margin-top: 1.5rem;
}

.experience-content .skill-title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 0 4px;
    margin-bottom: 8px;
}

.experience-content .skill-title i {
    font-size: 18px;
    margin-right: 6px;
}

.meter {
    width: 80%;
    height: 5px;
    background-color: #f9e1e3;
    border-radius: 3px;
    margin-top: 0.5rem;
}

.meter .meter-length1 {
    width: 85%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.meter .meter-length2 {
    width: 75%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.meter .meter-length3 {
    width: 80%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.meter .meter-length4 {
    width: 65%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.meter .meter-length5 {
    width: 60%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.experience-details {
    position: absolute;
    bottom: -220px;
    padding: 0 60px;
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr;
    grid-column-gap: 8px;
}

.experience-details .exp-card:nth-child(1) {
    position: relative;
    top: 20px;
}

.experience-details .exp-card:nth-child(3) {
    position: relative;
    top: 20px;
}

.experience-details .exp-card:nth-child(2) {
    height: 420px;
}

.exp-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    margin: 0 24px;
    padding: 36px 18px;
    background-color: #F9F9F9;
    border-radius: 16px;
    box-shadow: 0 2.3px 3px -3px rgba(0, 0, 0, 0.021), 0 5.5px 7.2px -3px rgba(0, 0, 0, 0.03), 0 10.4px 13.5px -3px rgba(0, 0, 0, 0.036), 0 18.5px 24.1px -3px rgba(0, 0, 0, 0.043), 0 34.7px 45.1px -3px rgba(0, 0, 0, 0.051), 0 83px 108px -3px rgba(0, 0, 0, 0.07);
}

.exp-card .exp-title {
    font-size: 20px;
    font-weight: 700;
}

.exp-company {
    margin-top: 8px;
}

.exp-date {
    margin-top: 12px;
    color: var(--text-color-gray);
}

.exp-content {
    font-size: 16px;
    margin-top: 10px;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    line-height: 18px;
    max-height: 148px;
}

.exp-card .web-link {
    margin-top: 36px;
}

.web-link a {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}


/* portfolio */

.portfolio {
    padding: 0;
    padding-top: 100px;
    margin-top: 260px;
    margin-bottom: 100px;
}

.filter-btns {
    margin: 36px 0 24px 0;
}

.filter-btn {
    margin: 0 8px;
    background-color: #dcdcdc;
    border: 0;
    color: var(--text-color-dark);
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
    outline: none;
}

.filter-btn.active, .filter-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color-lightest);
}

.portfolio-content {
    width: 85vw;
}

.portfolio-item {
    width: 16vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 25px;
    /* padding: 8px; */
    margin: 0.5vw;
}

.portfolio-item img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.portfolio-item img:hover {
    /* padding: 8px; */
    transform: scale(1.2);
}

.scrollToTop {
    display: none;
    position: relative;
    z-index: 300;
}

.scrollToTop a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    color: #ecf0f1;
    justify-content: center;
    text-decoration: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 2px #c6c6c6;
}

.scrollToTop a:hover {
    text-decoration: none !important;
}

/* contact me */

.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1080px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: column;
}

.icon .icon-item {
    margin: 8px 0;
}

.icon-item span {
    font-size: 18px;
}

.icon i {
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    border-radius: 50%;
    padding: 12px;
    margin-right: 24px;
}

.location {
    width: 100%;
    height: 100%;
}

#mapid {
    border-radius: 25px;
    height: 360px;
}

/* footer */

.footer {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.footer .content {
    color: white;
    font-size: 18px;
}